a {
  color: #88c136;
}
a:hover,
a:focus {
  color: #88c136;
}
.caption a:hover { color: #88c136 !important;}
.bg-default {
    background-color: #88c136;
}
.btn-default {
    background-color: #88c136;
	/*box shadow should be dark*/
    box-shadow: 0 3px 0 #6ea71b;
    -moz-box-shadow:0 3px 0 #6ea71b;
    -webkit-box-shadow:0 3px 0 #6ea71b;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #6ea71b;
}
h1.bordered,
h2.bordered,
h3.bordered,
h4.bordered,
h5.bordered,
h6.bordered,
.h1.bordered,
.h2.bordered,
.h3.bordered,
.h4.bordered,
.h5.bordered,
.h6.bordered {
	color: #88c136;
}
h1.light,
h2.light,
h3.light,
h4.light,
h5.light,
h6.light,
.h1.light,
.h2.light,
.h3.light,
.h4.light,
.h5.light,
.h6.light {
	color:#88c136;
}

.top-sec-detail .social2 li a:hover{ border:2px solid #88c136;}
.top-sec-detail .social2 li a:hover i{ color:#88c136}

.dropdown-menu {
	border-top: 6px solid #88c136;
}
.navbar-nav > li:hover ul li a:hover{ 
	color:#88c136 !important;
}
.navbar-nav li.mega-menu-item .mega-menu{ border-top: 6px solid #88c136;}

@media (min-width: 768px) {
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color:#88c136;
}
.navbar-nav > li:hover a{
	background:#88c136; color:#fff !important;
}
}


.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #88c136;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #88c136;
}

@media (max-width: 767px) {
.navbar-default .navbar-nav > li a:hover{
	color:#552f7c;
}
}


.home-box a:hover{color:#88c136;}
.appointment-sec h1{ 
	color:#88c136
}
.ui-widget-header {
	background: #88c136;
	/*border colour should be dark*/
	border: 1px solid #6ea71b;
}

.blog-date {background: #88c136; }
.blog-thumbnail img{border-bottom:4px solid #88c136;}
.blog-item .blog-title a:hover{ color:#88c136;}
.carousel-indicators .active {
  background-color: #88c136;
}
.panel-title.active span{ background:#88c136}
.panel-title.active a{ color:#88c136 !important}
.testimonials h1{ color:#88c136}
.footer-nav li a:hover {color:#88c136 !important;}
footer h4{ color:#88c136;}
.footer-widget h4{ color:#88c136}
footer h4 span{ border-bottom:1px solid #88c136;}
footer.light .tweet i{color:#88c136;}
footer.light .contact-widget p a:hover{ color:#88c136;}
footer.dark .contact-widget p a:hover{ color:#88c136;}

/*home 2*/
.service-box:hover{ background:#88c136;}
.service-box:hover .icon{ background:#88c136;box-shadow:0px 0px 0px 1px #88c136;}
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    background:#88c136 !important;
}
.jcarousel-skin-tango .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-vertical:focus {
    background:#88c136;
}
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    background:#88c136 !important;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
   background:#88c136;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
   background:#88c136;
}
.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background:#88c136;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background:#88c136;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    background:#88c136 !important;
}
.jcarousel-skin-tango .jcarousel-next-vertical:hover, .jcarousel-skin-tango .jcarousel-next-vertical:focus{background:#88c136;}
.jcarousel-skin-tango .jcarousel-next-disabled-vertical, .jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover, .jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus, .jcarousel-skin-tango .jcarousel-next-disabled-vertical:active{background:#88c136;}
.blog2-content h4 a:hover{ color:#88c136;}
.slider-mini a:hover{ color:#88c136; border-color:#88c136;}
.testimonials2-patient-detail span{ color:#88c136}
.creative-sec h1{ color:#88c136}
.creative-sec-thumb .overlay{background:url(../images/green-overlay.png) repeat;}
.accordian-style2 .panel-heading i{ color:#88c136;}



/*home4*/
caption a.btn-bordered:hover{ color:#88c136}
.slider-revolution-overlay{ background:url(../images/green-overlay.png) repeat;}
/*revolution slider nav*/
.tp-bullets.simplebullets .bullet{background:#80b5d0;}


/*sub page*/
.sub-page-banner .overlay{background:url(../images/green-overlay.png) repeat;}
.team-des-btn.active{ background:#88c136}
.team-member-description .team-member-desc-inner{ background:url(../images/green-overlay.png) repeat; border:1px solid #1b7fb1; 
/*box shadow should be light*/
box-shadow: inset 1px 1px 1px 0px #88c4e2;-moz-box-shadow: inset 1px 1px 1px 0px #88c4e2;-webkit-box-shadow: inset 1px 1px 1px 0px #88c4e2;}
.team-member-description .team-member-desc-inner span.pointing-arrow{ background:url(../images/team-member-desc-arrow.png) no-repeat;}
i.feature-icon{  background:#88c136;}
i.feature-icon{text-shadow:0px 5px 0px #669a1c;}
.carousel.default .carousel-indicators .active{ background:#88c136;}
.year {color: #88c136;}
.carousel-indicators.dark-indicators .active{ background:#88c136 !important}
.medicom-feature-list li i{border:1px solid #5d920f; 
/*border should be dark*/
background:#6ea71b;}
.procedures h3{ margin:0; background:#88c136; }
.testimonials3-patient-detail span{color:#88c136;}


/*quote icons should be light*/
.testimonials3 .fa-quote-left, .testimonials3 .fa-quote-right{ color:#d9e6ef;}
.doctors-detail h4{color:#88c136}
.investigations h1{ color:#88c136}
.pricing-table2.highlight .table-heading, .pricing-table2.highlight .table-heading .price{ background:#88c136;}
.pricing-table .table-heading{ background:#88c136;}
.gallery-item:hover p a:hover{ color:#88c136}
.tags li a:hover{ color:#88c136; border:1px solid #88c136;}
.popular-post h4:hover, .popular-post h4 a:hover{ color:#88c136}
.archives li a:hover, .archives li a:hover i{ color:#88c136}
.get-in-touch-widget li a:hover, .we-are-social li a:hover{ color:#88c136;}







.sidebar-nav .panel-body a:hover, .sidebar-nav .panel-body a.active{color:#88c136}











/*tri sec*/
.tri-sec:hover{ background:#88c136;}
.tri-sec:hover i{ color:#88c136;}





.price-rating .price{ 
	color:#88c136
}
.product .ad-to-cart:hover{
	color:#88c136;
}
.popular-post p strong, .best-seller p strong{
	color:#88c136
}
.popular-post h4 a:hover, .best-seller h4 a:hover{
	color:#88c136
}

.shop-banner .slider-text h1 span{ color:#88c136}
.product-single-content h4{
	color:#88c136
}
.cart-total-amount .price{ 
	color:#88c136;
}
.after-booking-sec h1{ color:#88c136}
.owl-controls .owl-buttons .owl-prev:hover, .owl-controls .owl-buttons .owl-next:hover{ background:#88c136;}
.team-thumb .links a i{ background:#88c136;}
.team-thumb .links a:hover i{ background:#9ad14b;}
.solid-row{ background:#88c136;}




.shop-banner .owl-controls .owl-page:hover, .shop-banner .owl-controls .owl-page.active{ background:#88c136}
.back-to-top{ background:#88c136}
.testimonials-carousel .owl-pagination .owl-page.active, 
.testimonials-carousel .owl-pagination .owl-page:hover,
.meet-doctors-carousel .owl-pagination .owl-page.active, 
.meet-doctors-carousel .owl-pagination .owl-page:hover{ 
	background-color:#88c136
}
.gallery-item:hover .gallery-item-info{ border-bottom:6px solid #88c136}